<!-- This goes into a code block in banner of landing page for users with js turned off -->
<noscript>
    <h2>Graduate Admissions</h2>
    <div class="sqs-block-button-content sqs-block-content">
        <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small" id="yui_3_17_2_4_1517330972495_15991">
            <a href="https://www.du.edu/korbel/admission/apply.html" class="sqs-block-button-element--small sqs-block-button-element" target="_blank">Join us</a>
        </div>
    </div>
    <h2>Undergraduate Admissions</h2>
    <div class="sqs-block-button-content sqs-block-content">
        <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small" id="yui_3_17_2_4_1517330972495_15991">
            <a href="https://www.du.edu/admission-aid/undergraduate/index.html" class="sqs-block-button-element--small sqs-block-button-element" target="_blank">Join us</a>
        </div>
    </div>
</noscript>