/******************************************************************************
 * Collection Type - Index
 *
 * Custom CSS styles that relate to Index pages.
*******************************************************************************/
.collection-type-index {
    .Index-page-content h2:first-of-type::after {
        border-top: .0666em solid;
        content: "";
        display: block;
        margin: .544em 0 .544em;
        position: relative;
        width: 24.5%;
    }
}